<section class="milestones-banner">
  <img
    class="milestones-banner__image milestones-banner__image--left"
    src="figures/milestones_banner_figure_left.svg"
    alt=""
  />
  <img
    class="milestones-banner__image milestones-banner__image--right"
    src="figures/milestones_banner_figure_right.svg"
    alt=""
  />

  <img
    class="milestones-banner__image milestones-banner__image--mobile"
    src="figures/milestones_banner_figure_mobile.svg"
    alt=""
  />

  <h2 class="milestones-banner__title">Milestones</h2>

  <h3 class="milestones-banner__experience">
    <span class="experience__number">3</span> years of experience
  </h3>

  <div class="milestones-banner__wrapper">
    <h4 class="milestones-banner__milestone milestones-banner__milestone--completed">
      <span class="milestone__number">9+</span> projects completed
    </h4>

    <h4 class="milestones-banner__milestone milestones-banner__milestone--leaded">
      <span class="milestone__number">4+</span> projects leaded
    </h4>
  </div>

  <div class="milestones-banner__wrapper">
    <h4 class="milestones-banner__milestone milestones-banner__milestone--developed">
      <span class="milestone__number">7+</span> projects developed
    </h4>

    <h4 class="milestones-banner__milestone milestones-banner__milestone--designed">
      <span class="milestone__number">3+</span> personal projects designed
    </h4>
  </div>
</section>
