<footer class="footer footer--desktop">
  <img class="footer__image footer__image--desktop footer__image--left" src="figures/footer_figure_left.svg" alt="" />
  <img class="footer__image footer__image--mobile footer__image--left" src="figures/footer_figure_left_mobile.svg" alt="" />

  <div class="footer__center">
    <img class="footer__image--desktop" src="figures/footer_figure_center.svg" alt="" />
    <img class="footer__image--mobile" src="figures/footer_figure_center_mobile.svg" alt="" />

    <div class="center__content">
     <div class="content__wrapper">
        <span class="content__icon material-symbols-rounded" aria-hidden="true">link</span>

        <app-link label="/in/elenanovilloluceno" (clicked)="onLinkedInClicked()"/>
      </div>

      <div class="content__wrapper">
        <span class="content__icon material-symbols-rounded" aria-hidden="true">mail</span>

        <app-link label="elenanovilloluceno@gmail.com" (clicked)="onMailClicked()"/>
      </div>
    </div>
  </div>

  <img
    class="footer__image footer__image--desktop footer__image--right"
    src="figures/footer_figure_right.svg"
    alt=""
  />

  <img
    class="footer__image footer__image--mobile footer__image--right"
    src="figures/footer_figure_right_mobile.svg"
    alt=""
  />
</footer>