@use '../../../styles/mixins.scss' as mixins;

:host {
  --left-image-width: 200px;
  --right-image-width: 175px;
  --center-image-width: 480px;

  --mobile-left-image-width: 135px;
  --mobile-right-image-width: 130px;
  --mobile-center-image-width: 340px;
}

.footer {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 500px;

  overflow: hidden;

  background:
    radial-gradient(30% 85% at 50% 100%, #660c2d, #3b0530 25%, #170223, transparent),
    radial-gradient(25% 45% at 105% 70%, #660c2d, #3b0530 25%, #170223, transparent),
    radial-gradient(40% 70% at -10% 70%, #660c2d, #3b0530 25%, #170223, transparent);

  @include mixins.platform(tablet, mobile) {
    background:
      radial-gradient(200px 175px at -5% 50%, #660c2d, #3b0530 25%, #170223, transparent),
      radial-gradient(175px 200px at 100% 45%, #660c2d, #3b0530 25%, #170223, transparent),
      radial-gradient(250px 200px at 50% 100%, #660c2d, #3b0530 25%, #170223, transparent);
  }

  &__image {
    position: absolute;

    &--left {
      left: -1px;
      bottom: -7px;

      min-width: var(--left-image-width);
      max-width: var(--left-image-width);

      @include mixins.platform(tablet, mobile) {
        bottom: 90px;

        min-width: var(--mobile-left-image-width);
        max-width: var(--mobile-left-image-width);
      }
    }

    &--center {
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);

      min-width: var(--center-image-width);
      max-width: var(--center-image-width);

      @include mixins.platform(tablet, mobile) {
        min-width: var(--mobile-center-image-width);
        max-width: var(--mobile-center-image-width);
      }
    }

    &--right {
      right: -1px;
      bottom: -5px;

      min-width: var(--right-image-width);
      max-width: var(--right-image-width);

      @include mixins.platform(tablet, mobile) {
        bottom: 150px;

        min-width: var(--mobile-right-image-width);
        max-width: var(--mobile-right-image-width);
      }
    }

    &--desktop {
      @include mixins.platform(tablet, mobile) {
        display: none;
      }
    }

    &--mobile {
      @include mixins.desktop {
        display: none;
      }
    }
  }

  &__center {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.center {
  &__content {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    @include mixins.platform(tablet, mobile) {
      gap: var(--spacing-xxs);
      bottom: 28px;
    }
  }
}

.content {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xxs);
  }

  &__icon {
    color: var(--secondary-one);
  }
}
