<footer class="footer footer--desktop">
  <ng-lottie
    class="footer__image footer__image--desktop footer__image--left"
    [options]="{
      path: 'animations/footer_animation_left.json',
    }"
  />
  <ng-lottie
    class="footer__image footer__image--mobile footer__image--left"
    [options]="{
      path: 'animations/footer_animation_left_mobile.json',
    }"
  />

  <div class="footer__center">
    <ng-lottie
      class="footer__image--desktop footer__image footer__image--center"
      [options]="{
        path: 'animations/footer_animation_center.json',
      }"
    />
    <ng-lottie
      class="footer__image--mobile footer__image footer__image--center"
      [options]="{
        path: 'animations/footer_animation_center_mobile.json',
      }"
    />

    <div class="center__content">
      <div class="content__wrapper">
        <span class="content__icon material-symbols-rounded" aria-hidden="true">link</span>

        <app-link label="/in/elenanovilloluceno" (clicked)="onLinkedInClicked()" />
      </div>

      <div class="content__wrapper">
        <span class="content__icon material-symbols-rounded" aria-hidden="true">mail</span>

        <app-link label="elenanovilloluceno@gmail.com" (clicked)="onMailClicked()" />
      </div>
    </div>
  </div>

  <ng-lottie
    class="footer__image footer__image--desktop footer__image--right"
    [options]="{
      path: 'animations/footer_animation_right.json',
    }"
  />
  <ng-lottie
    class="footer__image footer__image--mobile footer__image--right"
    [options]="{
      path: 'animations/footer_animation_right_mobile.json',
    }"
  />
</footer>
