@use '../../../styles/mixins.scss' as mixins;

.header {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-s);

  width: max-content;

  margin: var(--spacing-s) var(--spacing-l);
  padding: var(--spacing-xs) var(--spacing-xl);

  background-color: var(--blurred-three);

  border-radius: var(--border-radius-full);

  @include mixins.border-left-right;
}
