.header {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: var(--spacing-s);

    width: max-content;

    margin: var(--spacing-s) var(--spacing-l);
    padding: var(--spacing-xs) var(--spacing-xl);

    background-color: var(--blurred-three);

    border-radius: var(--border-radius-full);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px;
        border-radius: inherit;

        background: var(--gradient-light-left-right);

        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;

        pointer-events: none;
    }
}

