@use '../../../../styles/mixins.scss' as mixins;

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-xxs);
  padding: var(--spacing-xs);

  background-color: var(--blurred-three);

  border-radius: var(--border-radius-normal);

  img {
    width: 100%;
    max-width: 100px;
    height: 100px;
    object-fit: contain;

    @include mixins.platform(tablet, mobile) {
      max-width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

    color: var(--secondary-two);

    @include mixins.platform(tablet, mobile) {
      font-size: 14px;
    }
  }

  @include mixins.border-bottom-top;
}
