@use '../../../../styles/mixins.scss' as mixins;

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-xxs);
  padding: var(--spacing-xs);

  background-color: var(--blurred-three);

  border-radius: var(--border-radius-normal);

  img {
    width: 100%;
    max-width: 100px;
    height: 100px;
    object-fit: contain;

    @include mixins.platform(tablet, mobile) {
      max-width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

    color: var(--secondary-two);

     @include mixins.platform(tablet, mobile) {
      font-size: 14px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;

    background: var(--gradient-light-bottom-top);

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }
}
