/* ----------- MOBILE ----------- */
@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

/* ----------- TABLET ----------- */
@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

/* ----------- DESKTOP ----------- */
@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin platform($keys...) {
  @each $key in $keys {
    @if ($key == mobile) {
      @include mobile {
        @content;
      }
    } @else if ($key == tablet) {
      @include tablet {
        @content;
      }
    } @else if ($key == desktop) {
      @include desktop {
        @content;
      }
    }
  }
}

/* ----------- BORDERS ----------- */
@mixin border-bottom-top {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;

    background: var(--gradient-light-bottom-top);

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }
}

@mixin border-top-bottom {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;

    background: var(--gradient-light-top-bottom);

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }
}

@mixin border-right-left {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;

    background: var(--gradient-light-right-left);

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }
}

@mixin border-left-right {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;

    background: var(--gradient-light-left-right);

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }
}