h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background-one);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
