@use '../styles/mixins.scss' as mixins;

:host {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100dvh;

  background-color: var(--background-one);
}

app-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @include mixins.platform(mobile, tablet) {
    display:  none;
  }
}
