<section class="main-banner">
  <!-- <img class="main-banner__figure" src="figures/main_banner_figure.svg" alt="" /> -->
  <ng-lottie
    class="main-banner__figure"
    [options]="{
      path: 'animations/main_banner_animation.json',
    }"
  />
  <ng-lottie
    class="main-banner__figure--mobile"
    [options]="{
      path: 'animations/main_banner_animation_mobile.json',
    }"
  />
  <!-- <img class="main-banner__figure--mobile" src="figures/main_banner_figure_mobile.svg" alt="" /> -->

  <div class="main-banner__content">
    <div class="main-banner__wrapper">
      <span class="main-banner__name">Elena Novillo Luceño</span>
      <h1 class="main-banner__title">Web Developer</h1>
      <span class="main-banner__description"
        >Frontend Developer with experience at Deloitte, working on web solutions for leading
        insurance companies. Strong background in Angular and Salesforce platforms, with experience
        leading strategic initiatives and delivering scalable web portals. Open to international
        opportunities, learning new languages, and relocating if required.</span
      >
    </div>

    <div class="main-banner__footer">
      <div class="main-banner__additional-info">
        <span class="additional-info__icon material-symbols-rounded" aria-hidden="true">home_pin</span>
        <span class="additional-info__label">Madrid, Spain</span>
      </div>

      <div class="main-banner__additional-info">
        <span class="additional-info__icon material-symbols-rounded" aria-hidden="true">language</span>
        <span class="additional-info__label">Spanish (Native) / English (C1)</span>
      </div>
    </div>
  </div>
</section>
