<section class="skills-banner">
    <h2 class="skills-banner__title">Skills</h2>
    
    <div class="skills-banner__carousel">
        <app-card label="Angular" image="skills/angular.png" />
        <app-card label="TypeScript" image="skills/typescript.png" />
        <app-card label="SCSS" image="skills/scss.png" />
        <app-card label="HTML" image="skills/html.png" />
        <app-card label="Salesforce" image="skills/salesforce.png" />
        <app-card label="C/C++" image="skills/c++.png" />
        <app-card label="AWS" image="skills/aws.png" />
        <app-card label="SFMC" image="skills/sfmc.png" />
        <app-card label="SSJS" image="skills/javascript.png" />
        <app-card label="AMPScript" image="skills/ampscript.png" />
        <app-card label="PHP" image="skills/php.png" />
    </div>
</section>